/* fallback */



@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.icon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}
.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80px;
  margin-left: -40px;
  z-index: 3;
  pointer-events: none;
}
.loader-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  background: url("/img/loader.svg") no-repeat center center;
}


.btn .icon + .text {
  margin-left: 6px;
}



.partners-intro {
  height: 266px;
  background: #745ed7 linear-gradient(to right, #745ed7 , #8970df);
  color: #fff;
  flex-direction: column;
  justify-content: center;
  margin-top: 0;
  display: none;
  margin-top: -24px;
  margin-bottom: 24px;
}
.intro-title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 36px;
}
.intro-item {
  display: flex;
  align-items: center;
}
.intro-item-text {
  padding-left: 12px;
  font-size: 16px;
}
.intro-item-icon {
  width: 123px;
  height: 123px;
}
@media (min-width: 992px) {
  .partners-intro {
    display: flex;
  }
}

/* Partners */
.partners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -6px;
  margin-right: -6px;
}
.partner {
  width: 50%;
  flex: 0 0 50%;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 12px;
}
.partner a {
  text-decoration: none;
}
.partner-inner {
  display: block;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #eceae7;
}
.partner-logo {
  position: relative; 
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 12px;
  background-color: #fff;
  overflow: hidden;
}
.partner-logo img {
  width: 100%;
  height: 100%;
  transition: all 0.15s ease-in-out;
}
.partner:hover .partner-logo img {
  transform: translateZ(0) scale(.93);
}
.partner-info {
  position: relative;
  flex-grow: 1;
  padding: 12px;
}
.partner-name {
  font-size: 18px;
  font-weight: 500;
  color: #323a42;
}
.partner-category {
  margin-top: 14px;
  font-size: 14px;
  
}
.partner-adress {
  position: absolute;
  bottom: 12px;
  left: 12px;
  margin-top: 12px;
  font-size: 12px;
  color: #b3b3b3;
}

@media (min-width: 576px) {
  .partner-inner {
    display: flex;
    flex-direction: row;
  }
  .partner-logo {
    width: 40%;
    border-right: 1px solid #eceae7;
  }
}
@media (min-width: 768px) {
  .partners {
    margin-left: -12px;
    margin-right: -12px;
  }
  .partner {
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .partner {
    width: 33.333333%;
    flex: 0 0 33.333333%;
  }
}

/* Header */
.header {
  position: relative;
  height: 56px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #27ae61;
  box-shadow: 0 0 16px 0 rgba(0,0,0,.1);
  z-index: 100;
}
.header-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.header-menu-toggle {
  color: #fff;
}
.header-logo {
  display: block;
  width: 146px;
  height: 24px;
}
.header-logo-path {
  fill: #fff;
}
.header-nav {
  display: none;
  margin-left: 52px;
}
.header-nav .nav-item + .nav-item { 
  margin-left: 24px;
}
.header-nav .nav-link { 
  position: relative;
  padding: 24px 0;
  font-size: 18px;
  font-weight: 500;
}
.header-search  {
  display: none;
  position: relative;
  margin-left: 42px;
  max-width: 380px;
}
.header-search .form-control:focus ~ .input-group-append .btn {
  background-color: #27ae61;
  border-color: #27ae61;
  color: #fff;
}
.header-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.header-lang-toggle {
  display: none;
  color: #e84c3d;
}
.header-profile-toggle {
  color: #323a42;
  font-size: 15px;
}
.header-profile-toggle i {
  font-size: 20px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #27ae61;
  background-color: #fff;
  border-radius: 100%;
  margin-top: -4px;
  margin-bottom: -4px;
}
.header-profile-toggle .text {
  display: none;
  vertical-align: top;
}
.header-inner .btn-link {
  padding-right: 7px;
  padding-left: 7px;
}
@media (min-width: 992px) {
  .header {
    height: auto;
    padding: 0;
    background-color: #fff;
  }
  .header-menu-toggle {
    display: none;
  }
  .header-logo-path {
    fill: #27ae61;
  }
  .header-nav {
    display: flex;
  }
  .header-search {
    display: block;
  }
  .header-lang-toggle {
    display: block;
  }
  .header-controls {
    margin-left: auto;
  }
  .header-profile-toggle i {
     color: #fff;
    background-color: #27ae61;
  }
  .header-profile-toggle .text {
    display: inline-block;
  }
  .header-inner .btn-link {
    padding-right: 12px;
    padding-left: 12px;
  }
}





.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.content {
  min-height: calc(100vh - 96px);
  flex: 1;
  margin-top: 24px;
}
.content-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.aside {
  display: none;
  width: 320px;
  margin-left: 24px;
}
.main {
  width: 100%;
}
.main-actions {
  display: none;
  margin-bottom: 24px;
}
.main-title {
  line-height: 24px;
  padding-bottom: 24px;
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media (min-width: 992px) {
  .main {
    flex: 2;
  }
  .main-actions {
    display: block;
  }
  .main-title {
    font-size: 24px;
  }
  .aside {
    display: block;
  }
}





.main-sorter {
  width: 100%;
  padding-bottom: 12px;
  margin-bottom: 12px;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.main-sorter-title {
  margin-right: 12px;
  font-size: 14px;
}




.footer {
  padding-top: 24px;
  padding-bottom: 24px;
  background: #efecea;
  border-top: 1px solid #d4d4d4;
}
.footer-nav {
  flex-direction: column;
}
.footer-nav .nav-item {
    margin-top: 8px;
  line-height: 24px;
  font-size: 14px;
}
.footer-nav .nav-link {
  padding: 0;
  display: inline-block;
}
.footer-dev a {
  margin-left: 6px;
  font-weight: 500;
  color: #e84c3d;
}
@media (min-width: 768px) {
  .footer {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}


.categories {
  margin-bottom: 24px;
  border: 1px solid #eceae7;
}
.categories > .nav {
  display: block;
  background-color: #fff;
  flex-direction: column;
}
.categories > .nav > .nav-item {
  display: block;
}
.categories > .nav >  .nav-item > .nav-link {
  display: block;
  position: relative;
  padding: 17px 24px;
  line-height: 21px;
  font-size: 17px;
  font-weight: 500;
  color: #323a42;
  border-bottom: 1px solid #eceae7;
  border-top-width: 0px;
  cursor: pointer;
}
.categories > .nav >  .nav-item > .nav-link:after,
.categories > .nav >  .nav-item > .nav .nav-link:after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 0;
  background-color: #e84c3d;
  z-index: 2;
  transition: all 0.1s ease;
}
.categories > .nav >  .nav-item > .nav-link:hover:after,
.categories > .nav >  .nav-item > .nav .nav-link:hover:after,
.categories > .nav >  .nav-item > .nav-link.selected:after {
  opacity: 1;
  width: 4px;
}
.categories > .nav >  .nav-item > .nav .nav-link.active,
.categories > .nav >  .nav-item > .nav-link.active {
  background: #e84c3d;
  color: #fff;
  border-color: #e84c3d;
}

.categories > .nav >  .nav-item > .nav {
  display: block;
  background: #fbfaf8;
}

.categories > .nav >  .nav-item > .nav .nav-item {
  display: block; 
}
.categories > .nav >  .nav-item > .nav .nav-link {
  position: relative; 
  display: block;
  padding: 8px 24px;
  color: #323a42;
  cursor: pointer;
}

/* Regions */
.region-toggle {
  color: #e84c3d;
  border-bottom: 1px dashed #e84c3d;
  cursor: pointer;
}
.regions-nav .nav-item {
  width: 100%;
}
.regions-nav .nav-link {
  padding: 12px 0;
  cursor: pointer;
}
@media (min-width: 576px) {
  .regions-nav .nav-link {
    padding: 0;
    margin-top: 12px;
  }
}
@media (min-width: 768px) {
  .regions-nav .nav-item {
    width: 50%;
  }

}

/* Products */
.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: -6px;
  margin-right: -6px;
}
.product {
  position: relative;
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 6px;
  padding-right: 6px;
  margin-bottom: 12px;
}
.product-inner {
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: #fff;
  border: 1px solid #eceae7;
}
.product-inner a {
  display: block;
  text-decoration: none;
}
.product-image {
  width: 40%;
  min-width: 130px;
}
.product-discount {
  position: absolute;
  top: 12px;
  left: 0;
  font-size: 13px;
  line-height: 32px;
  color: #323a42;
  padding: 0 12px;
  border-radius: 0 3px 3px 0;
  background-color: #fc0;
  z-index: 1;
}
.product-img {
  overflow: hidden;
  padding: 12px;
}
.product-img img {
  width: 100%;
  height: 100%;
  transition: all 0.15s ease-in-out;
}
.product-inner:hover .product-img img {
  transform: translateZ(0) scale(.93);
}
.product-info {
  width: 100%;
}
.product-title {
  color: #323a42;
  margin-bottom: 12px;
  padding: 12px 12px 0 12px;
  line-height: 20px;
  height: 40px;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.product-footer {
  display: block;
  overflow: hidden;
  position: relative;
}
.product-price {
  
}
.product-price-new {
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #323a42;
}
.product-quantity {
  margin-left: 12px;
  font-size: 14px;
  line-height: 16px;
  color: #b3b3b3;
}
.product-inner .product-add-button {
  width: calc(100% - 24px);
  position: absolute;
  left: 12px;
  right: 12px;
  top: 12px;

  transition: all 0.1s ease-in-out;
}
.product-inner:hover .product-add-button {
  visibility: visible;
  opacity: 1;
  z-index: 5;
}
.product .counter-widget {
  margin: 12px;
  width: calc(100% - 24px);
}
@media (min-width: 576px) {
  .product {
    width: 33.333333%;
    flex: 0 0 33.333333%;
  }
  .product-inner {
    flex-direction: column;
  }
  .product-image {
    width: 100%;
  }
  .product-footer {
    border-top: 1px solid #eceae7;
  }
  .product-price {
    display: flex;
    padding: 24px 12px;
  }
}
@media (min-width: 768px) {
  .products {
    margin-left: -12px;
    margin-right: -12px;
  }
  .product {
    width: 25%;
    flex: 0 0 25%;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .product-inner .product-add-button {
    visibility: hidden;
    opacity: 0;
  }
}

/* Full product */
#product .modal-body {
  min-height: 328px;
}
.f-product-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.f-product-image {
  width: 100%;
  padding: 12px;
  padding-bottom: 0;
  flex-grow: 0;
  flex-shrink: 0;
}
.f-product-image img {
  width: 100%;
}
.f-product-info {
  padding: 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.f-product-title {
  line-height: 40px;
  font-size: 24px;
  margin-bottom: 12px;
}
.f-product-price-new {
  margin-top: 12px;
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 12px;
}
@media (min-width: 768px) {
  .f-product-content {
    flex-direction: row;
  }
  .f-product-image {
    width: 328px;
    padding: 24px;
    border-right: 1px solid #eceae7;
  }
  .f-product-info {
    padding: 24px;
  }
  .f-product-price-new {
    margin-top: 24px;
  }
}

/* Login */
.login .modal-body {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}
@media (min-width: 576px) {
  .login .modal-dialog {
    max-width: 400px;
  }
}


/* Profile */
.profile .modal-body {
  text-align: center;
}
.profile-card-ava {
  display: inline-block;
  margin-bottom: 12px;
  width: 88px;
  height: 88px;
  line-height: 88px;
  border-radius: 100%;
  color: #fff;
  font-size: 28px;
  font-weight: 600;
}
.profile-card-name {
  font-size: 20px;
  margin-bottom: 0;
}
.profile-card-region {
  color: #999;
  margin-bottom: 12px;
}
.profile-card-info {
  margin-bottom: 12px;
}



.orders {

}

.order {
}
.order-inner {
  display: flex;
  background-color: #fff;
  border: 1px solid #eceae7;
}
.order-column {
  padding: 12px;
  
}
.order-column + .order-column {
  border-left: 1px solid #eceae7;
}

.order-store {
  width: 100px;
  height: 100px;
}
.order-store img {
  width: 100%;
  height: 100%;
}
.order-info {
  flex: 3 3;
  height: auto;
}
.order-products {
  width: 170px;
}
.order-sum {
  width: 200px;
  color: ##323a42;
  text-decoration: none;
}
.order-sum-text {
  font-size: 14px;
  color: #999;
}
.order-sum-number {
  font-size: 24px;
  color: #323a42;
  text-decoration: none;
}

/* Card card */
.cart-card {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #267af2;
  box-shadow: 0 2px 8px 2px rgba(9,160,85,0.3);
  text-align: center;
  line-height: 40px;
  z-index: 100;
  color: #fff;
}
.cart-card a {
  color: #fff;
}
.cart-card-center {
  display: flex;
  justify-content: center;
}
.cart-card-center .item {
  margin: 0 12px;
}
.cart-card-mobile {
  position: fixed;
  bottom: 12px;
  right: 12px;
  left: 12px;
  z-index: 100;
}
.cart-card-mobile .btn {
  display: flex;
  text-align: left;
  background-color: #267af2!important;
  border-color: #267af2!important;
}
.cart-card-mobile span {
  padding: 0 6px;
  margin-left: auto;
  background-color: rgba(255,255,255,0.1);
  border-radius: 3px;
}
@media (min-width: 992px) {
  .cart-card {
    display: block;
  }
  .cart-card-mobile {
    display: none;
  }
}

/* Cart */
.cart .modal-body {
  padding: 0;
}
.cart-items {
  
}
.cart-item {
  display: flex;
  margin-bottom: 24px;
  border: 1px solid #eceae7;
  background-color: #fff;
}
.cart-item:hover .cart-item-image img {
  transform: translateZ(0) scale(.93);
}
.cart-item-column {
  padding: 12px;
}
.cart-item-column + .cart-item-column {
  border-left: 1px solid #eceae7;
}
.cart-item-image {
  width: 100px;
  height: 100px;
}
.cart-item-desc {
  flex: 3 3;
  line-height: 20px;
}
.cart-item-desc a {
  display: inline-block;
  max-height: 76px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-item-counter {
  width: 170px;
  text-align: center;
  font-size: 14px;
}
.cart-item-counter .counter-widget {
  margin-bottom: 12px;
}
.cart-item-price {
  width: 200px;
}
.cart-item-price-new {
  font-size: 18px;
  font-weight: 500;
}
.cart-item-price-old {
  font-size: 14px;
  text-decoration-line: line-through;
}
.cart-item-price-new + .cart-item-price-old {
  color: #e84c3d;
}
.cart-item-image img {
  width: 100%;
  height: 100%;
  transition: all 0.15s ease-in-out;
}
.cart-item-inner {
  
}



.counter-widget {

}
.counter-widget .btn {
  padding: 7px 9px;
}
.counter-widget.input-group-sm .btn {
  padding: 3px 5px;
}



.counter-widget .btn .icon {
 font-size: 20px;
  margin-top: 2px;
  margin-bottom: 2px;
}
.counter-widget .form-control {
  text-align: center;
  background-color: #fff;
}





.cart-calculator-info {
  text-align: center;
  border-bottom: 1px solid #eceae7;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.cart-calculator-inner div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

}
.cart-calculator-total {
  margin-bottom: 0 !important;
}
.cart-calculator-total span:nth-child(2) {
  font-size: 24px;
}
.cart-calculator .btn {
  border-radius: 0px;
}




/* Checkout */
.checkout-payments {
  display: flex;
}
.checkout-payments .btn {
  text-align: left;
  width: 33.3333%;
}
/* Home intro */
.intro-item {
  display: flex;
  align-items: center;
}
.intro-item-text {
  padding-left: 12px;
  font-size: 16px;
}
.intro-item-icon {
  position: relative;
}
.intro-item-icon .icon-number {
  position: absolute;
  top: -20px;
  left: -20px;
  color: #3A0299;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
}
.intro-item-icon .icon-shadow {
  width: 92px;
  height: 92px;
  background-color: #fff;
  border-radius: 50%;
}
.intro-item-icon .icon-shadow .icon {
  position: relative;
  z-index: 3;
  margin: 22px;
  font-size: 48px;
  color: #267af2;
}
